{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <script type="text/javascript" src="{% static 'jquery-3.7.1.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/users/login.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
    <section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    <h6 dir='ltr'>{{ message }}</h6>
                </div>
                {% endfor %}
                {% endif %}
                <h2 class="mb-5">Log in</h2>
                <div class="form-outline mb-4">
                <form action="{% url 'users:login' %}" method='post'>
                    {% csrf_token %}
                    <label class="form-label" for="username">Username</label>
                    <input type="text" id="username" name="username" class="form-control form-control-lg" placeholder="Username" value="{{ form.username.value|escape }}"/>
                    </div>

                    <div class="form-outline mb-4">
                    <label class="form-label" for="Password">Password</label>
                    <input type="password" id="Password" name="password" class="form-control form-control-lg" placeholder="Password" value="{{ form.password.value|escape }}"/>
                    </div>
                    {% comment %} {{ form.captcha }} {% endcomment %}
                        {{ form.captcha }}

                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-start mb-4" style= "margin-top: 25px;">
                    <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked/>
                    <label class="form-check-label" for="form1Example3">&nbsp Remember password </label>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                </form>

                <hr class="my-4">
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
    <script type="text/javascript" src="{% static 'jquery-3.7.1.min.js' %}"></script>
    <script>
    $('.js-captcha-refresh').click(function(){
        var $form = $(this).parents('form');
        var captchaUrl = '/captcha/image/';

        $.getJSON(captchaUrl, {}, function(json) {
            // Update captcha image source
            $form.find('.captcha-img').attr('src', json.image_url);

            // Update captcha hidden input value
            $form.find('.captcha-input').val(json.key);
        });

        return false;
    });
</script>
</body>