body {
  /* background-image: url("\\static\\bcg\\bcg1.jpg"); */
  background-color: rgb(218, 218, 218); 
  background-size: cover;
  background-position: center;
  /* Add other CSS properties as needed */
}

.form-label {
    text-align: left;
    font-weight: bold;
}