{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{% static 'jquery-3.7.1.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebars.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main/chat.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sidebars.js' %}"></script>
    <title>RAG Chat</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-2" style="padding: 0;">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar" style="margin-left: 0;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">RAG Chat</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Create a new chat
        </a>
      </li>
    </ul>
    <hr>
    <ul class="nav nav-pills flex-column" id="#chats">
    <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">Chat - 1</strong>
          <small class="text-muted">Tues</small>
        </div>
        <div class="col-10 mb-1 small">Last message sent to this chat</div>
      </a>
    </ul>
    <div class="mt-auto">
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle mb" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/farshadamiri.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
    </div>
  </div>
  </div>
  <div class="col-md-8">
  <div class="chat-box">
    <div class="messages" id="board">
    {% for message in messages %}
    {% if curr_user == message.sender_name %}
        <div class="container darker">
            <img src="{% static 'images/user_image.jpg' %}" alt="Avatar" class="right" style="width:100%;">
            <p>{{message.description}}</p>
            <span class="time-right">{{message.time}}</span>
        </div>
    {% else %}
        <div class="container">
            <img src="{% static 'images/user_image.jpg' %}" alt="Avatar" style="width:100%;">
            <p>{{message.description}}</p>
            <span class="time-left">{{message.time}}</span>
        </div>
    {% endif %}
    {% endfor %}
    </div>
    <div class="row">
        <form method="post" class="form-group" id="chat-box">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <input type="text" placeholder="Send a message..." name="message" id="msg_field">
                    <button type="submit" name="send" class="btn btn-success" id="send_btn">Send</button>
                </div>
            </div>
            </div>
        </form>
    </div> 
</div>
<div class="col-md-2">
</div>
</div>
</div>
</body>
<script>
// websocket scripts
var loc = window.location
var formData = $("#form")
var msgInput = $("#id_message")
var chatHolder = $("#chat-items")

protocol = 'ws://'
if (loc.protocol == "https:") {protocol = 'wss://'};
var endpoint = protocol + loc.host + loc.pathname
var socket = new WebSocket(endpoint);
console.log ("endpoint", endpoint);


socket.onmessage = function(e) {
    console.log ("message", e)
    var chatMsgData = JSON.parse(e.data)
    chatHolder.append('<li><span style="font-weight: bold;">' + chatMsgData.username + ":</span> " + chatMsgData.message + "</li>")
}

socket.onopen = function(e) {
    console.log ("open", e)
    var form = $("#form")[0]
    formData.submit(function(event) {
        event.preventDefault();
        //var formDataSerialized = formData.serialize()
        var data = {
            'message': msgInput.val(),
        }
        //socket.send(formDataSerialized)
        //socket.send(msgInput.val());
        socket.send(JSON.stringify(data));
        msgInput.val('');
        //formData[0].reset();
    })
}

socket.onerror  = function(e) {
    console.log ("error", e)
}
socket.onclose  = function(e) {
    console.log ("close", e)
}
</script>
</html>



